<div class="container text-center">
  <img src="../assets/pokedex.png" width="1000px" style="margin-left: 250px;" >
  <router-outlet></router-outlet>
</div>
<div>
  <div class="row">
    <div class="col-2 m-1 justify-text-left">

      <nav style="width:125px; height: 500px" class="nav-bar">
        <img src="../assets/Pokemon-Logo.png" width="100px">
        <ul class="nav flex-column">
          <li class="nav-item">
            <img style="cursor: pointer;" src="../assets/bola.png" class="botao-bola"><br>
            <a href="#"></a>
            <span class="texto">Pokemon</span>
          </li>

          <li class="nav-item mt-5">
            <img style="cursor:pointer" src="../assets/dark.png" class="botao-bola"><br>
            <a href="#"></a>
            <span class="texto">Tipo</span>
          </li>

          <li class="nav-item mt-5">
            <img style="cursor:pointer" src="../assets/detalhes.png" class="botao-bola"><br>
            <a href="#"></a>
            <span class="texto">Detalhes</span>
          </li>
        </ul>
        
      </nav>
    </div>

    <div class="col quadradito">
    </div>
  </div>
</div>