<div class="text-center">
  <img src="../assets/pokedex.png" class="w-25">

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assets/Pokemon-Logo.png" width="100" height="100" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="text-black"  routerLink="/buscar-pokemon"><img style="cursor: pointer;" src="../assets/bola.png" width="50"> Pokemon </a>
          </li>

          <li class="nav-item ml-2">
            <a class="text-black" routerLink="/buscar-pokemon"><img style="cursor: pointer;" src="../assets/dark.png" width="50"> Tipo </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="bg-white p-5 mt-2 rd-5 border-dark border-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
