<div [formGroup]="formulario" class="d-flex search flex-row mb-3">
  <input class="form-control w-75" formControlName="nome" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
  <button class="btn btn-warning w-25" (click)="buscarPokemonPorNome()" type="button">Pesquisar</button>
</div>

<div class="row col-sm-12 m-auto" *ngIf="pokemons.length > 0">
  <div (click)="detalhes(pokemon.nome)" class="col-sm-3 mb-2 pointer" *ngFor="let pokemon of pokemons">
    <img class="w-100 bg-white rd-5" [src]="pokemon.urlImg" />

    <small class="text-light text-left">{{'Nº: ' + pad(this.pokemon.ordem,3)}}</small>
    <h5 class="text-light fw-bold text-capitalize">{{pokemon.nome}}</h5>

    <div>
      <button class="btn btn-warning text-light col-sm-4 text-capitalize fw-bold" style="margin-right: 5px;" *ngFor="let type of pokemon.tipos">{{type.type.name}}</button>
    </div>
  </div>
</div>
