<div class="row col-sm-12" *ngIf="pokemons.length > 0">
  <div class="col-sm-3 mb-2" *ngFor="let pokemon of pokemons">
    <img class="w-100 bg-info" [src]="pokemon.urlImg" />

    <small class="text-left">{{'Nº: ' + pad(this.pokemon.ordem,3)}}</small>
    <h5 class="text-black fw-bold text-capitalize">{{pokemon.nome}}</h5>

    <div>
      <button class="btn btn-warning text-light col-sm-4 text-capitalize fw-bold" style="margin-right: 5px;" *ngFor="let type of pokemon.tipos">{{type.type.name}}</button>
    </div>
  </div>
</div>


